<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="Configuration">
    <Parameter Name="Settings:Authentication:Authority" Value="https://localhost:8443" />
    <Parameter Name="Settings:Authentication:RequireHttpsMetadata" Value="false" />
    <Parameter Name="Settings:Authentication:PostLogoutRedirectUri" Value="https://localhost" />
  </Section>
</Settings>